<h1> <%= @plant.name %> Information </h1>

<ul>
    <li><h3> Name: </h3> <%= @plant.name %><h3> </li>
    <li><h3> Light: </h3> <%= @plant.light%><h3> </li>
    <li><h3> Notes: </h3> <%= @plant.notes %><h3> </li>
    </ul>
</br>

<h4><a href="/plants/<%=@plant.id%>/edit "> Edit plant</a> </h4>
<h4><a href="/waters/<%=@plant.id%>/new "> Add new Watering Requirements</a> </h4>
<h4><a href="/plants/new"> Create a new plant </a> </h4>
<h4><a href="/home"> Home</a> </h4></br>




